button.scroll-to-top.js-to-anchor.js-sctoll-to-top.js-back-to-top(
)   
    span.scroll-to-top__wrapper
        span.scroll-to-top__text
        span.scroll-to-top__circle(
            role="progressbar" 
            aria-valuenow="5" 
            aria-valuemin="0" 
            aria-valuemax="100" 
            style="--value:25"
        )